// ##########################
// ##########################
// Browser Mockup
// ##########################
// ##########################
.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  border-left: 1px solid rgba(230, 230, 230, 0.7);
  border-right: 1px solid rgba(230, 230, 230, 0.7);
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  //box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  //padding: 1rem;
  border-radius: 0.35rem;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}
	
.browser-mockup.with-tab:after {
  display: block;
  position: absolute;
  content: '';
  top: -2em;
  left: 5.5em;
  width: 20%;
  height: 0em;
  border-bottom: 2em solid white;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
}

.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.browser-mockup > * {
  display: block;
}



// ##########################
// ##########################
// iPhone
// ##########################
// ##########################
.iphone-x {
  position: relative;
  margin: 2rem 0rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: 750px;
  background-color:  var(--background-color);
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
}
.iphone-x:before, .iphone-x:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.iphone-x:after {
  bottom: 7px;
  width: 140px;
  height: 4px;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.iphone-x:before {
  top: 0px;
  width: 56%;
  height: 30px;
  background-color: #1f1f1f;
  border-radius: 0px 0px 40px 40px;
}
.iphone-x i,
.iphone-x b,
.iphone-x s {
  position: absolute;
  display: block;
  color: transparent;
}
.iphone-x i {
  top: 0px;
  left: 50%;
  transform: translate(-50%, 6px);
  height: 8px;
  width: 15%;
  background-color: #101010;
  border-radius: 8px;
  box-shadow: inset 0px -3px 3px 0px rgba(255, 255, 255, 0.2);
}
.iphone-x b {
  left: 10%;
  top: 0px;
  transform: translate(180px, 4px);
  width: 12px;
  height: 12px;
  background-color: #101010;
  border-radius: 12px;
  box-shadow: inset 0px -3px 2px 0px rgba(255, 255, 255, 0.2);
}
.iphone-x b:after {
  content: "";
  position: absolute;
  background-color: #2d4d76;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  top: 3px;
  left: 3px;
  display: block;
  border-radius: 4px;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
}
.iphone-x s {
  top: 50px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-size: 70px;
  font-weight: 100;
  padding-top: 60px;
}





// ##########################
// ##########################
// UI
// ##########################
// ##########################
.ui-exmaple {
  padding: 4rem 1rem 1rem 1rem;
  font-size: 0.75rem;
  .header {
    background: var(--border-color);
    border-radius: 0.3rem;
    border-top: 3px solid #eee;
    .header-wrap {
      display: flex;
      flex-wrap: nowrap;
      padding: 1rem;
      gap: 1rem;
      .avatar {
        width: 100px;
        height: 75px;
        //border-radius: 50%;
        position: relative;
        top: 0.5rem;
        border: 2px solid transparent;
      }
      .tag {
        text-align: left;
        h3 {
          margin: 0;
          
        }
        p {
          
        }
      }
    }
    .button-grp {
      display: flex;
      flex-wrap: nowrap;
      padding: 0 1rem 1rem 1rem;
      gap: 1rem;
      .btn {
        width: calc(50% - 1rem);
        margin: 0 auto;
        display: block;
        border: 0;
        padding: 1rem;
        border-radius: 0.3rem;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        transition: all 0.1s ease-in-out;
        position: relative;
        top: 0;
        &:hover {
          top: -3px;
          box-shadow: 0 2px 5px rgba(0,0,0,0.25);
          opacity: 0.8;
        }
        span {
          background-color: inherit;
          //-webkit-background: inherit;
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          filter: invert(1) grayscale(1) contrast(9);
        }
      }
    }	
  }
  .info-wrap {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 1rem 1rem 1rem;
    gap: 1rem;
    .left {
      width: 50%;
    }
    .right {
      width: 50%;
    }
    .subheader {
      color: #bbb;
      text-transform: uppercase;
      margin-bottom: 0;
      text-align: left;
    }
    .input {
      width: 100%;
      padding: 0.3rem;
      border: 1px solid #aaa;
      background: #f7f7f7;
      border-radius: 0.3rem;
      font-weight: normal;
    }
  }
  .toggle-wrap {
    .toggle-item {
      display: flex;
      flex-wrap: nowrap;
      padding: 0 1rem 1rem 1rem;
      gap: 1rem;
      justify-content: space-between;
      p {
        margin: 0;
      }
      .checkbox {
        .checkbox-label {
          position: relative;
          display: block;
          height: 20px;
          width: 44px;
          background: #ddd;
          border-radius: 100px;
          cursor: pointer;
          transition: all 300ms ease;
          &:after {
            position: absolute;
            left: -2px;
            top: -3px;
            display: block;
            width: 26px;
            height: 26px;
            border-radius: 100px;
            background: darken(#ddd, 12%);
            box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
            content: '';
            transition: all 300ms ease;
          }
          &:active:after {
            transform: scale(1.15, 0.85);
          }
        }
        .checkbox-input {
          display: none;
          &:checked ~ label {
            background: lightblue;
            &:after {
              left: 20px;
              background: darken(lightblue, 15%);
            }
          }
          &:disabled ~ label {
            background: lighten(#ddd, 30%);
            pointer-events: none;
            &:after {
              background: lighten(#ddd, 20%);;
            }
          }
        }
      }
    }
  }
  .social-wrap {
    margin-top: 2rem;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 1rem 1rem 1rem;
    gap: 1rem;
    justify-content: space-around;
    .social {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      transition: all 0.1s ease-in-out;
      position: relative;
      top: 0;
      &:hover {
        top: -3px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.25);
        opacity: 0.8;
      }
      svg {
        height: 18x;
        width: 18px;
        background: inherit;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        filter: invert(1) grayscale(1) contrast(9);
      }
    }
  }
  hr {
    border: 0;
    height: 1px;
    margin: 1rem 1rem 0 1rem;
    background: #aaa;
  }
  .help-wrap {
    font-size: 0.8rem;
    text-align: center;
  }
}
.range-slider {
  width: calc(100% - 2rem);
  margin: 0 1rem;
}
.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  //background: red;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
// .range-slider__range::-moz-range-thumb:hover {
//   background: #1abc9c;
// }
// .range-slider__range:active::-moz-range-thumb {
//   background: #1abc9c;
// }
// .range-slider__range:focus::-webkit-slider-thumb {
//   box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
// }

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: "";
}
::-moz-range-track {
  background: #ddd;
  border: 0;
}
input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}