// Imbedded Ad
#wall-js {
  border-radius: 5px;
  background: var(--palette-color);
  box-shadow: 0px 10px 40px -10px rgb(0 64 128 / 20%);
  padding: var(--gutter);
  text-decoration: none;
  margin-bottom: var(--gutter);
  height: calc(100% - var(--gutter));
}
#wall-js #_custom_ {
  min-height: 100%;
  position: relative;
}
#wall-js .wall img {
	max-width: 100%;
}
#wall-js a.wall {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around !important;
  position: relative !important;
}
#wall-js .wall .wall__cta {
	padding: 0.5rem 0;
	border-radius: 3px;
}
#wall-js .wall .wall__sponsor {
	font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}
#wall-js .wall .wall__tagline {
	font-style: italic;
  font-size: 0.8rem;
  text-align: center;
}
#wall-js .wall .wall__description {
	font-size: 0.8rem;
  text-align: center;
}

#wall-js .wall .wall__footer {
  display: flex !important;
}
#wall-js .wall .wall__cta {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#wall-js .wall .wall__image {
  text-align: center;
  width: 50%;
}

.cloudservers {
  background: #19191a;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: var(--gutter);
  color:  white;
  small {
    margin-bottom: 1rem;
  }
  .cloudservers-footer {
    display: flex;
    justify-content: space-between;
    img {
      margin: 0 auto;
      display: block;
      width: 60%;
      height: auto;
    }
    b {
     text-transform: uppercase; 
    }
    .button {
      width: 30%;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 0.3rem 0.6rem;
      color: white;
      background-color: #2989EF;
      background-image: linear-gradient(to bottom right, #2989EF, #13CDFF);
      text-decoration: none;
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 0;
      &:hover {
        top: 0;
      }
    }
  }
}


// Floating Ad
.ad {
  display: inline-block;
  visibility: visible;
  opacity: 1;
  background: var(--background-color);
  position: fixed;
  transition: all 250ms ease-in-out;
  left: var(--gutter);
  bottom: var(--gutter);
  width: 130px;
  z-index: 5;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.12);
}
@media (max-width: 768px) {
  .ad {
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0px;
    // box-shadow: 0 -7px 30px rgba(0, 0, 0, 0.45), 0 5px 10px rgba(0, 0, 0, 0.42);
    box-shadow: 0;
    border-top: 1px solid var(--border-color);
  }
}
.ad .close-button {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 0 3px;
  color: var(--text-color);
  font-size: 1.2rem;
}
.ad .close-button:hover {
  color: var(--border-color);
}
@media (max-width: 768px) {
  .ad #carbonads .carbon-wrap {
    display: flex;
  }
}
.ad #carbonads .carbon-img {
  display: block;
}
@media (max-width: 768px) {
  .ad #carbonads .carbon-img {
    display: inline-block;
    margin-bottom: -4px;
  }
}
.ad #carbonads .carbon-text {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-color);
  text-decoration: none;
  margin: 5px;
}
@media (max-width: 768px) {
  .ad #carbonads .carbon-text {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 170px);
    text-align: left;
    padding: 5px 0 5px 10px;
  }
}
.ad #carbonads .carbon-text:hover {
  color: var(--text-color-2);
}
.ad #carbonads .carbon-poweredby {
  display: block;
  color: var(--text-color);
  text-align: center;
  font-size: 0.9rem;
  margin: 5px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .ad #carbonads .carbon-poweredby {
    position: absolute;
    bottom: 5px;
    left: 140px;
    width: calc(100% - 170px);
    text-align: left;
  }
}
.ad #carbonads .carbon-poweredby:hover {
  color: var(--text-color-2);
}
.ad.closed {
  visibility: hidden;
  opacity: 0;
  bottom: -250px;
  left: -130px;
}

