body#flat {
	main {
		padding-top: 0;
	}
}

.colors.colors-flat {
	height: calc(100vh - 64px);
	width: 100%;
	padding: 0!important;
	margin-top: 64px;
	display: flex;
	flex-wrap: wrap;
	.flat {
		height: calc(100%/10);
		width: calc(100%/20);
		transition: all 150ms ease-in-out;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			transform: scale(1.2);
			box-shadow: 0 10px 40px -10px rgb(0 64 128 / 40%);
			border-radius: 5px;
		}
	}
}