body#gradients {
	main {
		padding-top: 80px;
	}
}

.gradient {
	border-radius: 5px;
	background: var(--palette-color);
	box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
	padding: var(--gutter);
	text-decoration: none;
	margin-bottom: var(--gutter);
	padding-top: 145px;
	.footer {
		display: flex;
		justify-content: space-between;
		.code {
			color: white;
			svg {
				position: relative;
				top: 4px;
				filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
			}
			&:hover {
				color: #1eafed;
			}
		}
		.date {
		  font-size: .85rem;
		  margin-top: 0.3rem;
		  font-weight: bold;
		  color: var(--text-color);
		  text-shadow: 0 0 1px black;
		  color: white;
		  text-decoration: none;
		}
	}
}