#site-navigaion {
  height: 64px;
  width: 100vw;
  border-bottom: 1px solid var(--border-color);
  background: var(--background-color);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  transition: box-shadow 200ms ease-in-out;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  @media(max-width: 768px) {
    padding: 0 1rem;
    z-index: 10002;
  }
  &.highlight {
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.12);
  }
  button.toggle-menu {
    display: none;
    background: none;
    border: 0;
    padding-inline: 0rem; 
    cursor: pointer;
    @media(max-width: 768px) {
      display: block;
    }
  }
  nav {
    padding: 0;
    margin: 0;
    display: block;
    height: 100%;
    @media(max-width: 768px) {
      display: none;
      position: absolute;
      top: 64px;
      left: 0;
      background: var(--background-color);
      width: 100%;
      height: calc(100vh - 64px);
      z-index: 10002;
      &.active {
        display: block;
        a {
          display: block;
          text-align: center;
          height: auto;
          transition: background 100ms ease-in-out;
          border-radius: 5px;
          margin: 0.5rem 1rem;
          &::after {
              display: none;
          }
          &:hover {
            background: var(--border-color);
          }
        }
      }
    }
    a {
      color: var(--text-color);
      height: 100%;
      display: inline-block;
      padding: 20px 0.5rem;
      vertical-align: top;
      text-decoration: none;
      svg {
        position: relative;
        top: 2px;
      }
      &.tools {
        color: var(--text-color-2);
      }
      &::after {
          content: '';
          display: block;
          width: 0;
          height: 1px;
          background: var(--text-color);
          transition: width 200ms;
      }
      &:hover::after {
          width: 100%;
      }
    }
  }
}

body#palettes #site-navigaion nav a.palettes::after,
body#flat #site-navigaion nav a.flat::after,
body#gradients #site-navigaion nav a.gradients::after,
body#about #site-navigaion nav a.about::after,
body#contact #site-navigaion nav a.contact::after {
  width: 100%;
}