.palette {
  border-radius: 5px;
  background: var(--palette-color);
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
  padding: var(--gutter);
  text-decoration: none;
  margin-bottom: var(--gutter);
  .colors {
    margin-bottom: var(--gutter);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    .color {
      height: 140px;
      width: 25%;
      flex-basis: 25%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-grow: 1;
      transition: all 100ms ease-in-out;
      cursor: pointer;
      overflow: hidden;
      //flex-basis: 1px;
      // &:nth-child(1) {
      //   width: 37.5%;
      //   flex-basis: 37.5%
      // }
      // &:nth-child(2) {
      //   width: 27.5%;
      //   flex-basis: 27.5%;
      // }
      // &:nth-child(3) {
      //   width: 20%;
      //   flex-basis: 20%;
      // }
      // &:nth-child(4) {
      //   width: 15%;
      //   flex-basis: 15%;
      // }
      &:hover {
        width: 75%;
        flex-basis: 100%;
        & > .hex {
          visibility: visible;
          opacity: 1;
        }
      }
      .hex, .check {
        font-weight: bold;
        background: inherit;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        filter: invert(1) grayscale(1) contrast(9);
        font-size: 1rem;
        cursor: pointer;
        text-transform: uppercase;
      }
      .hex {
        visibility: hidden;
        opacity: 0;
      }
      .check {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    color: #fff3f3;
    .date {
      font-size: .85rem;
      margin-top: 0.3rem;
      color: var(--text-color);
      text-decoration: none;
    }
  }
}

.likes, .view {
  padding: 0 5px 4px 5px;
  border: 1px solid var(--border-color);
  background: none;
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
  font-size: .85rem;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  height: 25px;
  &:hover {
    background: var(--border-color);
  }
  .heart, .eye {
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 4px;
  }
  .eye {
    fill: #a7a7a7;
  }
  .heart {
    fill: #ff7474;
    width: 1rem;
    height: 1rem;
    padding: 0.1rem;
    top: 0.2rem;
  }
  &.liked {
    border-color: #ff8d8d;
    background: #ffdada;
    color: #333;
    .heart {
      fill: #ff8d8d;
    }
    &:hover {
      border-color: #ff8d8d;
      background: #ffdada;
      .heart {
        fill: #ff8d8d;
      }
    }
  }
}

.color-single {
  border-radius: 0.3rem;
  margin-bottom: calc(var(--gutter)*3);
  position: relative;
  h3 {
    margin: 0 0 0.5rem 0;
  }
  .preview {
    padding: 2rem;
    width: 100%;
    display: block;
    border-radius: 0.3rem;
    border: 1px solid var(--border-color);
    cursor: pointer;
  }
  .input-group {
    display: flex;
    
    input.input {
      display: block;
      width: calc(100% - 2rem);
      padding: 0.5rem;
      margin-bottom: 0.7rem;
      border: 1px solid var(--border-color);
      border-radius: 0.3rem 0 0 0.3rem;
      font-size: 1rem;
    }
    button.copy {
      padding: 0.5rem;
      margin-bottom: 0.7rem;
      border: 1px solid var(--border-color);
      border-left: 1px solid transparent;
      border-radius: 0 0.3rem 0.3rem 0;
      font-size: 1rem;
      cursor: pointer;
      transition: all 100ms ease-in-out;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
      svg {
        height: 1rem;
        width: 1rem;
        position: relative;
        top: 2px;
      }
    }
  }
  
  .edit-indicator {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    padding: 0.3rem;
    stroke: black;
    fill: white;
    transition: opacity 100ms ease-in-out;
  }
}

button.preview:hover + svg.edit-indicator {
  opacity: 1;
  background: red;
}