#scan {
	img {
		max-width: 100%;	
	}
	canvas {
		max-width: 100%;
		border-radius: 5px;
		margin-top: 1rem;
	}
	form {
		text-align: center;
	}
	.dropzone {
		border: 2px dashed var(--border-color);
		background: var(--background-color);
		min-height: auto;
		border-radius: 5px;
	}
	.dropzone.dz-drag-hover,
	.dropzone.dz-started {
		border: 2px dashed var(--highlight-1);
	}
	#previewElement {
		img {
			margin-top: 1rem;
			border-radius: 5px;
		}
	}
	.swatches {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 5px;
		margin-top: 1rem;
		@media(max-width: 768px) {
			flex-direction: row;
		}
		@media(max-width: 486px) {
			flex-wrap: wrap;
		}
		.swatch-textbox {
			height: 0;
			opacity: 0;
		}
		.swatch {
			height: 100px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			border-radius: 5px;
			p {
				margin: 0;
				display: block;
				width: 100%;
				font-weight: bold;
				background: inherit;
				background-clip: text;
				-webkit-background-clip: text;
				color: transparent;
				filter: invert(1) grayscale(1) contrast(9);
				font-size: 1rem;
				cursor: pointer;
				text-transform: uppercase;
			}
		}
	}
}



#palette,
#complementary {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 80%;
}

#palette div,
#complementary div {
	height: 120px;
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* create a little bit of contrast for the text */
	mix-blend-mode: difference;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px #333;
}

#palette div,
#complementary div {
	height: 120px;
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}
