.social .icon{
  position: relative;
  background-color: var(--border-color);
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: var(--text-color);
  text-decoration: none;
}
.social .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: var(--background-color);
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.social .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: var(--background-color);
  bottom: -3px;
  left: 30%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.social .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.social .icon:hover span,
.social .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.social .facebook:hover,
.social .facebook:hover .tooltip,
.social .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.social .twitter:hover,
.social .twitter:hover .tooltip,
.social .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.social .linkedin:hover,
.social .linkedin:hover .tooltip,
.social .linkedin:hover .tooltip::before {
  background-color: #0077b5;
  color: #ffffff;
}
.social .pinterest:hover,
.social .pinterest:hover .tooltip,
.social .pinterest:hover .tooltip::before {
  background-color: #E60023;
  color: #ffffff;
}