@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html, body {
  color: var(--text-color);
  font-family: 'Manrope', sans-serif;
}

.funky {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

pre, code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

code {
  border-radius: 0.3rem;
  padding: 0.15rem 0.3rem;
  line-height: 1.8rem; 
  font-size: 0.8rem; 
  span {
    background: inherit;
    background-clip: text;
    color: transparent;
    filter: invert(1) grayscale(1) contrast(9);
  } 
}

a {
  color: #1eafed;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.date {
  margin: 1rem 0 0 0;
  font-size: 0.9rem;
}

p {
  font-size: 1rem;
}
#about p {
  font-size: 1.25rem;
}

.tag {
  background:  var(--border-color);
  color: var(--text-color-2) !important;
  padding: 0.2rem 0.55rem;
  border-radius: 0.3rem;
  &.small {
    font-size: 1rem !important;
    //margin: 0.2rem;
    line-height: 1.5;
    display: inline-block;
    text-decoration: none;
    &:hover {
      background: var(--background-color);
    }
  }
  &.static {
    &:hover {
      background:  var(--border-color);
    }
  }
}

h1.linear-wipe {
  font-size: 1.5rem;
  display: inline;
  text-align: center;
  background-image: linear-gradient(to right, #F782A9 0%, #B48BD9 10%, #4ED9AB 40%, #FFD26B 60%, #F782A9 90%, #F782A9 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  animation: shine 10s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

